@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #eff4fd;
}

nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 1.25rem 0; /* Mengganti 20px menjadi 1.25rem */
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0.625rem 1.25rem; /* Mengganti 10px dan 20px menjadi 0.625rem dan 1.25rem */
  position: relative;
  cursor: pointer;
}

nav ul li::after {
  content: "";
  height: 0.1875rem;
  width: 0;
  background: rgba(14, 14, 234, 0.9);
  position: absolute;
  left: 0;
  bottom: -0.9375rem;
  transition: 0.5s;
}

nav ul li:hover::after {
  width: 100%;
}

.font {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.font:hover {
  color: rgba(14, 14, 234, 0.9);
}

/* Body */
.content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.detel {
  margin: 13% 0 0 8%;
}

.detel h1 {
  font-size: 3.5rem; 
  font-weight: bold;
  color: #212121;
  margin-bottom: 1.25rem; /* Mengganti 20px menjadi 1.25rem */
}

span {
  color: rgba(14, 14, 234, 0.9);
}

.detel p {
  color: #555;
  font-size: 1.25rem; /* Mengganti 20px menjadi 1.25rem */
  line-height: 1.375rem; /* Mengganti 22px menjadi 1.375rem */
  margin-bottom: 1.875rem; /* Mengganti 30px menjadi 1.875rem */
}

.download a {
  background: rgba(14, 14, 234, 0.9);
  padding: 1.3rem 3.75rem; /* Mengganti 15px dan 30px menjadi 1.875rem dan 3.75rem */
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  border-radius: 1.5em; /* Mengganti 10px menjadi 1rem */
  margin: 1.875rem 0; /* Mengganti 30px menjadi 1.875rem */
}

.download a:hover {
  background: #fff;
  color: rgba(14, 14, 234, 0.9);
  border-radius: 1.5rem; /* Mengganti 6px menjadi 0.375rem */
  box-shadow: 0 0 0.3rem #fff, 0 0 1.2rem #fff,0 0 3rem rgba(14, 14, 234, 0.9);
}

.sosmed-icon {
  width: max-content;
  margin-bottom: 1rem;
  font-size: 2.4rem;
  color: #212121;
  margin: 0 10px;
}

.sosmed-icon:hover i {
  color: rgba(14, 14, 234, 0.9);
}

/* projects */

.section-title {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  color: rgba(14, 14, 234, 0.9);
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 3rem;
  background-color: rgba(14, 14, 234, 0.9);
}

.projects {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}

.project-container {
  row-gap: 2rem;
  margin-bottom: 12rem;
}

.project-img {
  box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.55);
  border-radius: 0.5rem;
  overflow: hidden;
}

.project-img img {
  transition: 1s;
  object-fit: cover; /* Tambahkan ini untuk mengatur gambar agar berada di tengah dan tetap proporsional */
  width: 100%;
  height: 100%;
}

.project-img img:hover {
  transform: scale(1.2);
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  margin: 0 1rem;
}

/* contact */
.contact{
  margin: 3rem 0;
}

.contact h3{
  font-weight: bold;
}

.form-container{
  gap: 10px;
}

.contact-container{
  width: fit-content;
}

.contact .mt{
  margin-top: 1rem;
}

.tombol{
  background-color: rgba(14, 14, 234, 0.9);
  border-radius: 1.5rem;
  padding: .8rem 1rem;
  color: #fff;
}

.tombol:hover{
  background: #fff;
  color: rgba(14, 14, 234, 0.9);
  border-radius: 1.5rem; 
  box-shadow: 0 0 2rem white, 0 0 2rem blue;
}

/* footer */
.footer {
  margin-top: 0.5rem;
  background-color: #fff;
  text-align: center;
  font-weight: 1rem;
  padding: 2rem 0;
}

.footer-title {
  color: #212121;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-subtitle {
  color: #212121;
  font-size: 0.8rem;
  margin: 0 2rem;
}

.footer-social i {
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
}

.footer-copy{
  font-size: .8rem;
}

@media screen and (max-width: 768px) {
  .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .detel {
    margin: 8%;
  }
  .detel h1 {
    font-size: 2.5rem;
    color: #212121;
    margin-bottom: 1.25rem;
    font-weight: bold;
  }
  p {
    font-size: .8rem;
  }
  .download a {
    padding: 0.8rem 2rem;
    transition: 0.5s;
    margin: .8rem 0;
    font-size: .8rem;
  }
  .sosmed-icon {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #212121;
    margin: 15px;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .contact{
    margin: 2rem;
  }

  .mt-screen{
    margin-top: 1rem;
  }
}
