@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

:root {
  --main-color: rgba(14, 14, 234, 0.9);
  --primary-color: rgba(13, 110, 253);
  --bg-color: #eff4fd;
  --sec-bg-color: #fff;
  --text-color: #000;
  --paraf-color: #555;
  --shadow: rgb(54, 54, 54, 0.5);
  --card-background: rgb(255, 255, 255, 0.6);
}

.dark-mode {
  --main-color: rgba(14, 14, 234, 0.9);
  --primary-color: rgba(13, 110, 253);
  --bg-color: #081b29;
  --sec-bg-color: #112e42;
  --text-color: #ffffff;
  --paraf-color: #c8c8c8;
  --shadow: rgba(195, 195, 195, 0.5);
  --card-background: rgb(0, 0, 0, 0.6);
}

html {
  scroll-behavior: smooth;
  user-select: none;
  scroll-padding-top: 5rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  position: relative;
  width: 100%;
  padding-top: 3rem;
  min-height: 100vh;
  background: var(--bg-color);
}

/* Loading */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    /* Gradient transparan */ rgba(81, 81, 81, 0.8); /* Warna latar belakang */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid var(--main-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Navbar */

nav {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 1.25rem 0;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

.nav-bg {
  background-color: transparent;
  backdrop-filter: blur(40px);
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0.625rem 1.25rem;
  position: relative;
  cursor: pointer;
}

nav ul li::after {
  content: "";
  height: 0.1875rem;
  width: 0;
  background: var(--main-color);
  position: absolute;
  left: 0;
  bottom: -0.9375rem;
  transition: 0.5s;
}

nav ul li:hover::after {
  width: 100%;
}

.font {
  text-decoration: none;
  color: var(--text-color);
}

.font:hover {
  color: var(--main-color);
}

.hamburger {
  color: var(--text-color);
}

/* Button Scroll To Top */

.top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.6rem;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 0.9rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

/* Toggle Dark Mode */

.ui-switch {
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  --circle-diameter: 32px;
  --circle-bg: rgb(0, 56, 146);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* Actions */

.ui-switch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active + .slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

/* Body */
.content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.detail {
  margin: 13% 0 0 8%;
}

.detail h1 {
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 1.25rem;
}

span {
  color: var(--main-color);
}

.detail p {
  color: var(--paraf-color);
  font-size: 1.25rem;
  line-height: 1.375rem;
  margin-bottom: 1.875rem;
}

.download a {
  padding: 1rem 2.2rem;
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
  color: var(--sec-bg-color);
  display: inline-block;
  border-radius: 2em;
  margin: 1.875rem 0;
}

.download a:nth-child(2) {
  transition: 0.5s;
  background: var(--sec-bg-color);
  color: var(--main-color);
  border-radius: 2em;
  margin: 1.875rem 0;
}

.download a:hover {
  background: var(--sec-bg-color);
  color: var(--main-color);
  border-radius: 1.5rem;
}

.download a:nth-child(2):hover {
  background: var(--primary-color);
  color: var(--sec-bg-color);
  border-radius: 1.5rem;
}

.sosmed-icon {
  width: max-content;
  margin-bottom: 1rem;
  font-size: 2.4rem;
  color: var(--paraf-color);
  margin: 0 10px;
}

.sosmed-icon:hover i {
  color: var(--main-color);
}

/* Projects */

.section-title {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  color: var(--main-color);
  margin: 2rem 0;
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 3rem;
  background-color: var(--main-color);
}

.projects {
  min-height: 100vh;
  background: var(--bg-color);
  display: grid;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}

.project-container {
  row-gap: 2rem;
}

.project-img {
  border-radius: 0.5rem;
}

/* Card */

.card {
  position: relative;
  width: 879px;
  height: auto;
  background-color: var(--sec-bg-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-origin: bottom;
}

.card img {
  height: auto;
  width: auto;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px var(--shadow);
  transition: all 0.8s ease;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4rem;
  box-sizing: border-box;
  background-color: var(--card-background);
  transform-origin: bottom;
  transform: translateY(100%);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.card:hover .card-content {
  transform: translateY(0);
}

.card-title {
  font-size: 2rem;
  color: var(--paraf-color);
  font-weight: bold;
}

.card:hover img {
  opacity: 0.6;
}

.card-description {
  margin: 10px 0 0;
  font-size: 1.2rem;
  color: var(--paraf-color);
  line-height: 1.4;
}

.card-button {
  margin-top: 2rem;
}

.card-button a {
  border: none;
  border-radius: 10px;
  text-decoration: none;
  padding: 0.4rem 1.2rem;
  color: #fff;
}

/* Card Sosmed */

.github {
  background: #333;
}

.demo {
  background: var(--primary-color);
}

.figma {
  background: #610c9f;
}

.project-img img {
  transition: 0.6s;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bd-grid {
  display: grid;
  margin: 0 1rem;
}

/* Link See More */

.see-more {
  display: flex;
  justify-content: end;
}

.see-more a {
  text-decoration: none;
  font-size: 1.2rem;
}

.see-more a:hover {
  text-decoration: underline;
}

/* Contact */

.contact {
  margin: 3rem 0;
}

.contact-bg {
  background: var(--sec-bg-color);
}

.form-container {
  gap: 10px;
}

.tombol {
  border-radius: 1.8rem;
  padding: 1rem 1.2rem;
  color: #fff;
}

.tombol:hover {
  background: #fff;
  color: var(--main-color);
  border-radius: 1.5rem;
  box-shadow: 0 0 2rem white;
}

.form-input {
  background-color: var(--bg-color);
  border: 1px var(--paraf-color);
  color: var(--text-color) !important;
}

.form-input:focus {
  background-color: var(--bg-color);
  border: 2px var(--text-color);
}

.form-input::placeholder {
  color: var(--text-color);
}

/* Footer */

.footer {
  background-color: var(--sec-bg-color);
  text-align: center;
  font-weight: 1rem;
  padding: 1rem 0;
}

.footer-title {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-subtitle {
  color: var(--text-color);
  font-size: 0.8rem;
  margin: 0 2rem;
}

.footer-social i {
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
}

.footer-copy {
  font-size: 0.8rem;
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }

  .detail {
    margin: 8%;
  }

  .top-button {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
  }

  .ms-5 {
    margin-left: 1rem !important;
  }

  .detail h1 {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-bottom: 1.25rem;
    font-weight: bold;
  }
  p {
    font-size: 0.8rem;
  }
  .download a {
    padding: 0.8rem 2rem;
    transition: 0.5s;
    margin: 0.8rem 0;
    font-size: 0.8rem;
  }
  .sosmed-icon {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--paraf-color);
    margin: 15px;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .contact {
    margin: 2rem;
  }

  .mt-screen {
    margin-top: 1rem;
  }

  .tombol {
    padding: 0.7rem;
    font-size: 0.7rem;
  }

  /* Card */

  .card {
    width: auto;
    height: calc(auto + 30px);
  }

  .card-content {
    padding: 0.6rem;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-description {
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: scroll;
  }

  .card-button {
    margin-top: 1rem;
  }

  .card-button a {
    border-radius: 8px;
    padding: 0.2rem 0.8rem;
    font-size: 0.6rem;
    color: #fff;
  }
}
